* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'retro-computer';
    src: url('./Fonts/RetroComputerSpanish.ttf');
    font-weight: normal;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items:  center;
 
    background-color: #0308;
    overflow: hidden;
    
}



